* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.font-inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
body {
    max-width: 1600px;
}

.navbar {
    display: flex;
    align-items: center;
}

.nav-links {
    list-style-type: none;


}
.nav-img {
    width: 139px;
    height: 60px;
     margin-top: 16px;
     margin-left: 120px;
}

nav ul {
    display: flex;
    text-decoration: none;
    list-style: none;
   align-items: center;
    gap: 32px;
    justify-content: center;
    margin-top: 34px;
    margin-left: 346px;
   
    
}

nav ul a {
    text-decoration: none;
    font-size: 16px;
    color: #000000;
}

.btn {
    background-color: #30B868;
    color: white;
    border: none;
    font-weight: 700;
    padding: 12px 16px;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    margin-left: 314px;
  
}